<!DOCTYPE html>
<html ng-app="pianoKeys">
  <head>
	<style>
	  canvas {
	  border: 2px solid #CCCCCC;
	  margin: 10px;
	</style>
	<script src="../js/angular-1.3.2.min.js"></script>
	<script src="pianoModuleBonobo.js"></script>
  </head>
  <body ng-controller="songController">
	<div id="controls" style="position: fixed;">
	  <input type="button" id="transposeDownButton" value="<">
	  <input type="button" id="transposeUpButton" value=">">
	</div>
	{{chords}}
	<div ng-repeat="chord in chords">
	  <canvas piano width="815" height="145" notes="chord.notes"></canvas>

	  <br>

	  <input type="text" ng-model="chord.notes">
	  <input type="button" ng-click="chord.notes='';" value="clear">
	  <input type="text" ng-model="chord.id">
	</div>
		
	<script src="pianoBonoboApp.js"></script>
  </body>
</html>
