/* http://stackoverflow.com/questions/10105160/create-a-scroll-bar-in-a-sidebar */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: monospace;
}

p {
    padding-left: 5px;
}

#container {
    height: 100%;
    overflow: auto;
    white-space: nowrap;
}

.sidebar {
    width: 17%;
    height: 100%;
    vertical-align: top;
    position: fixed;
}

.notes {
    width: 81%;
    height: 100%;
    margin-left: 19%;
    vertical-align: top;
    white-space: normal;
    overflow: auto;
}

.tags {
    height: 100%;
    overflow: auto;
    white-space: normal;
}

