div.table {
	display:table;
    white-space: nowrap;
    width: 1%;
    table-layout: initial;
}
form.tr, div.tr {
	display:table-row;
}
span.td {
	display:table-cell;
    padding: 0px 10px 0px 10px;
    /* min-width: 150px; */
}