body {
    font-size: 2em;
    font-family: sans-serif;
}

#singleLineCode {
    font-size: 1.2em;
    width: 90%;
}

.largeTextButton {
    font-size: 1.5em;
}

.smallTextButton {
    font-size: 0.8em;
}

.keypadRow {
    display: table-row;
}

.keypadWrapper {
    display: table;
    height: 100%;
}

.keypadButton {
    width: 19vw;
    height: 19vw;

    border: 1px solid #999;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bs-console {
    font-size: 2em;
}

.credits {
    font-size: 0.7em;
}
