<!DOCTYPE html>
<html ng-app="pianoKeys">
  <head>
	<style>
	  canvas {
	  border: 2px solid #CCCCCC;
	  margin: 10px;
	</style>
	<script src="../js/angular-1.3.2.min.js"></script>
	<script src="pianoModuleCaribou.js"></script>
	<script src="staff.js"></script>
  </head>
  <body ng-controller="songController">
<!--
	<div id="controls" style="position: fixed; background: #99AAFF; padding: 10px;">
	  Transpose:
	  <input type="button" ng-click="transpose(-1)" value="<">
	  <input type="button" ng-click="transpose(1)" value=">">
	</div>
	-->
{{chords}}
	<div>
	  <canvas staff width="700" height="145" chords="chords" control="focusInControl"></canvas>
	  <input type="button" ng-click="focusInControl.extendCanvas(30);" value="extend canvas">
	</div>
	
	<br>
	<div ng-repeat="chord in chords">
	  <canvas piano width="815" height="145" notes="chord.notes"></canvas>

	  <br>
	  <input type="text" ng-model="chord.notes" value="chord.notes">
	  <input type="button" ng-click="chord.notes='';" value="clear">
	  <input type="text" ng-model="chord.id">
	  <input type="button" ng-click="addChord($index)" value="add chord below">
	</div>

	<script src="pianoCaribouApp.js"></script>
  </body>
</html>
