<!DOCTYPE html>
<html ng-app="tinatasks">
  <head>
	<title>TiNAtasks</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="pikaday.css" />
	<style>
	  td { padding-right: 10px; border-bottom: 1px dotted #CCCCCC; }
	</style>
	
	<script src="../js/firebase.js"></script>
	<script src="../js/angular.min.js"></script>
	<script src="../js/angularfire.min.js"></script>
	<script src="../js/moment-with-locales.min.js"></script>
	<script src="components.js"></script>
	<script src="pikaday.js"></script>
	<script src="pikaday-angular.js"></script>
	<script src="app.js"></script>
  </head>

  <body ng-controller="TaskController" style="padding: 10px;">
	<!-- if not logged in -->
	<div ng-hide="loggedIn">
	  <a href="/index.html">home</a> | 
	  <a href="login.html">Click here to log in</a>
	</div>
	
	<div ng-show="loggedIn">
	  <a href="/index.html">home</a> | 
	  <a href ng-click="logout()">log out</a>
	  (it is now {{nowFull}})
	  <br>
	  {{notification}}
      
	  <tabs>
		<pane tab-title="tasks">
		  
		  <tabs>
			<pane ng-repeat="tab in tabs" tab-title="{{tab.name}}">
			  
			  <form ng-submit="addTask(tab.name, false, taskDescription, taskCategory, taskDueDate); taskCategory=''; taskDescription=''; taskDueDate='';">
				<table>
				  <thead>
					<tr>
					  <th>Done?</th>
					  <th>Category</th>
					  <th>Task</th>
					  <th>Due date</th>
					  <th>{{getShortDate(now)}}</th>
					</tr>
					<tr>
					  <td valign="top">&nbsp;</td>
					  <td valign="top"><input ng-model="taskCategory" focus-on="newTaskAdded" size="12" /></td>
					  <td valign="top"><input ng-model="taskDescription" size="35" /></td>
					  <!-- <td valign="top"><input ng-model="taskDueDate" size="12" /></td> -->
                      <td valign="top"><input pikaday="taskDueDatePicker" ng-model="taskDueDate" size="12" /></td>
					  <td valign="top"><input type="submit" value="Add Task" /></td>
					  <td valign="top"><!-- <input type="button" value="refresh" ng-click="now = momentNow()" /> --> &nbsp; </td>

					</tr>

				  </thead>
				  <tbody ng-repeat="task in tasks[tab.name] | orderBy:['done',dueDateOrder,'category','createDate']">
					<!-- <tr ng-repeat="task in tasks | orderBy:['done','category','createDate']"> -->
					<tr>
					  <td valign="top" style="padding-right: 10px;"><input type="checkbox" ng-model="task.done" ng-change="updateTask(tasks[tab.name], task)" /></td>
					  <td valign="top" style="padding-right: 10px;">{{task.category}}</td>
					  <td valign="top" style="padding-right: 10px;">

						<!-- 15 jun 2015 -->
						<!-- Try to bold task description -->
						<span ng-style="dueToday(task.dueDate, now) && {'color': '#AA2222', 'font-weight': 'bold'}">

						  <span ng-style="dueTomorrow(task.dueDate, now) && {'font-style': 'italic', 'color': '#F07010', 'font-weight': 'bold'}">

                            <!-- ADD CLICKABLE HERE -->
                            <!-- http://stackoverflow.com/questions/14761724/angularjs-insert-html-from-a-string -->

                            <span ng-bind-html="task.description | asUrl"></span>
                            <span ng-show="task.done">
						      <a href ng-click="removeTask(tasks[tab.name], task)"><b>(delete)</b></a>
						    </span>


                            <!--
						        {{task.description}}
						      -->
                            
						  </span>

						</span>
						<!-- 
							 <a href ng-click="task.editing=true"><b>(edit)</b></a>
							 -->
                        <!-- 
						     <span ng-show="task.done">
						       <a href ng-click="removeTask(tasks[tab.name], task)"><b>(delete)</b></a>
						     </span>
                             -->
					  </td>
					  <td valign="top" style="padding-right: 10px;">{{task.dueDate}}</td>
					  <!-- <td>{{task.createDate | date}}</td> -->
					  <!-- <td>{{millisToString(parseDate(task.dueDate) - now)}}</td> -->
					  <td valign="top" nowrap>{{daysDiff(task.dueDate, now)}}</td>
					</tr>
					<tr ng-show="task.editing">
					  <td valign="top" style="padding-right: 10px;">&nbsp;</td>
					  <td valign="top" style="padding-right: 10px;"><input ng-model="task.category" size="12" /></td>
					  <td valign="top" style="padding-right: 10px;"><input ng-model="task.description" size="35" /></td>
					  <td valign="top" style="padding-right: 10px;"><input ng-model="task.dueDate" size="12" /></td>
					  <td valign="top"><a href ng-click="task.editing = !task.editing"><b>(done editing)</b></a></td>
					</tr>
				  </tbody>
				</table>
			  </form>
			</pane>

		  </tabs>


		</pane>

		<!--
			<pane title="all tasks">
			  <table>
				<tbody ng-repeat="(name, tab) in tasksRoot">
				  
				  <tr ng-repeat="task in tasks[name]">

					<td style="padding: 0px 10px 0px 0px;"><b>{{name}}</b></td>
					<td style="padding: 0px 10px 0px 0px;"><i>{{task.category}}</i></td>
					<td style="padding: 0px 10px 0px 0px;">{{task.description}}</td>
					<td>{{task.dueDate}}</td>
					<td style="padding: 0px 0px 0px 10px;">{{daysDiff(task.dueDate, now)}}</td>
				  </tr>
				</tbody>
			  </table>
			</pane>
			-->
		
		<pane tab-title="all tasks">
		  <table>
			<tbody>
			  <tr ng-repeat="task in allTasks | orderBy:[dueDateOrder]">
				<td valign="top">{{task.dueDate}}</td>
				<td valign="top" style="padding: 0px 10px 0px 10px;">{{daysDiff(task.dueDate, now)}}</td>
				<td valign="top" style="padding: 0px 10px 0px 0px;"><i>{{task.category}}</i></td>
				<td valign="top" style="max-width: 500px; padding: 0px 10px 0px 0px;">

                  <!--   {{task.description}} -->
                  <div ng-bind-html="task.description | asUrl"></div>
                </td>
			  </tr>
			</tbody>
		  </table>
		</pane>

		<pane tab-title="tab management">
		  <br>
		  <form ng-submit="addTab(tabName); tabName='';">
			New tab:
			<input ng-model="tabName" />
			<input type="submit" />
		  </form>

		  <hr>

		  <div ng-repeat="tab in tabs">
			{{tab.name}} <a href ng-click="deleteTabTasks(tab.name)">(clear tasks)</a> <a href ng-click="removeTab(tab);">(remove tab)</a>
		  </div>
		  
		</pane>
	  </tabs>
	  
	  <!--

		  <pane title="Tabs">

		  </pane>


		  
		  <hr>
		  <table border="0">
			<thead>
			  <tr>
				<th>Done?</th>
				<th>Category</th>
				<th>Task</th>
				<th>Due</th>
				<th>Created</th>
			  </tr>	
			</thead>
			<tbody>
			  <tr ng-repeat="task in tasks | orderBy:['done','category','createDate']">
				<td style="padding-right: 10px;"><input type="checkbox" ng-model="task.done" ng-change="tasks.$save(task)"></td>
				<td style="padding-right: 10px;">{{task.category}}</td>
				<td style="padding-right: 10px;">{{task.description}}</td>
				<td style="padding-right: 10px;">{{task.dueDate}}</td>
				<td>{{task.createDate | date}}</td>
			  </tr>
			</tbody>
		  </table>
		  -->
	</div>
  </body>
</html>
