<!DOCTYPE html>
<html ng-app="aguardando">
  <head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/div_as_table.css" />
	<link rel="stylesheet" type="text/css" href="css/fields.css" />
	<script src="js/firebase.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angularfire.min.js"></script>
	<script src="components.js"></script>
	<script src="app.js"></script>
  </head>

  <body ng-controller="OrganizationController">
	<div ng-hide="loggedIn">
	  <a href="login.html">Clique aqui para fazer login</a>
	</div>

	<div ng-show="loggedIn">
	  {{loginStatus}}<br>
	  {{notification}}<br>
	  
	  <a href ng-click="logout()">Logout</a>

	  <!-- tabs for Cliente, Produto-->
	  
	  <!-- divs as table rows,
		   http://stackoverflow.com/questions/4035966/create-a-html-table-where-each-tr-is-a-form			   
		-->

	  <tabs>
		<pane title="Pedidos">
		  Total: {{computed.pedidosTotal}}
		  <div class="table">
			<div class="tr">
			  <span class="td">Codigo do cliente</span>
			  <span class="td">Nome do cliente</span>
			  <span class="td">Vendedor(a)</span>
			  <span class="td">Qtde</span>
			</div>

			<form class="tr" ng-submit="addPedido(pedido_codigoCliente, quantidade)">
			  <span class="td"><input type="text" class="number" ng-model="pedido_codigoCliente" /></span>
			  <span class="td"><input type="text" class="string" ng-model="clientesObj[pedido_codigoCliente].nome" ng-change="setCliente(pedido_codigoCliente, clientesObj[pedido_codigoCliente].nome, vendedoresObj[clientesObj[pedido_codigoCliente].idVendedor].id)" /></span>
			  <span class="td">
				<select ng-model="clientesObj[pedido_codigoCliente].idVendedor" ng-change="setCliente(pedido_codigoCliente, clientesObj[pedido_codigoCliente].nome, clientesObj[pedido_codigoCliente].idVendedor)">
				  <option ng-repeat="vendedor in vendedores" value="{{vendedor.id}}" ng-selected="vendedor.id==clientesObj[pedido_codigoCliente].idVendedor">{{vendedor.nome}}</option>
				</select>
			  </span>
			  
			  <!-- <span class="td">{{vendedoresObj[clientesObj[pedido_codigoCliente].idVendedor].nome}}</span> -->
			  <span class="td"><input type="text" class="number" ng-model="quantidade" /></span>
			  <span class="td"><input type="submit" value="Adicionar pedido" /></span>
			</form>

			<div class="tr" ng-repeat-start="pedido in pedidos">
			  <span class="td">{{pedido.codigoCliente}}</span>
			  <span class="td">{{clientesObj[pedido.codigoCliente].nome}}</span>
			  <span class="td">{{vendedoresObj[clientesObj[pedido.codigoCliente].idVendedor].nome}}</span>
			  <span class="td">{{pedido.quantidade}}</span>
			</div>

			<form class="tr" ng-repeat-end ng-show="DEBUG">
			  <span class="td"><input type="text" class="number" ng-model="pedido.codigoCliente" ng-change="pedidos.$save(pedido).then(notify('Código do cliente alterado no pedido'))" /></span>
			  <span class="td">{{clientesObj[pedido.codigoCliente].nome}}</span>
			  <span class="td">{{vendedoresObj[clientesObj[pedido.codigoCliente].idVendedor].nome}}</span>
			  <span class="td"><input type="text" class="number" ng-model="pedido.quantidade" ng-change="pedidos.$save(pedido).then(computePedidosTotal(pedidos))" /></span>
			</form>

		  </div>
		</pane>

		<pane title="Chegando">
		  Lista chegando
		</pane>

		<pane title="Clientes">

		  <div class="table">

			<div class="tr">
			  <span class="td">Código</span>
			  <span class="td">Nome</span>
			  <span class="td">Vendedor(a)</span>
			</div>
			
			<form class="tr" ng-submit="setCliente(codigoCliente, nomeCliente, vendedorCliente)">
			  <span class="td"><input type="text" class="number" ng-model="codigoCliente" /></span>
			  <span class="td"><input type="text" class="string" ng-model="nomeCliente" /></span>
			  <span class="td">
				<select ng-model="vendedorCliente">
				  <option ng-repeat="vendedor in vendedores" value="{{vendedor.id}}">{{vendedor.nome}}</option>
				</select>
			  </span>		  
			  <span class="td"><input type="submit" value="Adicionar cliente" /></span>
			</form>

			<div class="tr" ng-repeat-start="cliente in clientes">
			  <span class="td">Codigo: {{cliente.codigo}}</span>
			  <span class="td">Nome: {{cliente.nome}}</span>
			</div>

			<form class="tr" ng-repeat-end>
			  <span class="td">{{cliente.codigo}}</span>
			  <span class="td"><input type="text" class="string" ng-model="cliente.nome" ng-change="clientes.$save(cliente)" /></span>
			  <span class="td">
				<select ng-model="cliente.idVendedor" ng-change="clientes.$save(cliente)">
				  <option ng-repeat="vendedor in vendedores" value="{{vendedor.id}}" ng-selected="vendedor.id==cliente.idVendedor">{{vendedor.nome}}</option>
				</select>
			  </span>
			</form>

		  </div>
		</pane>
		
		<pane title="Produtos">
		  (+)
		  Lista de produtos
		</pane>
		
		<pane title="Vendedores">

		  <div class="table">

			<div class="tr">
			  <span class="td">ID</span>
			  <span class="td">Nome</span>
			</div>
			
			<form class="tr" ng-submit="setVendedor(idVendedor, nomeVendedor)">
			  <span class="td"><input ng-model="idVendedor" /></span>
			  <span class="td"><input ng-model="nomeVendedor" /></span>
			  <span class="td"><input type="submit" value="Adicionar vendedor" /></span>
			</form>

			<div class="tr" ng-repeat-start="vendedor in vendedores">
			  <span class="td">{{vendedor.id}}</span>
			  <span class="td">{{vendedor.nome}}</span>
			</div>

			<form class="tr" ng-repeat-end>
			  <span class="td">{{vendedor.id}}</span>
			  <span class="td"><input ng-model="vendedor.nome" ng-change="vendedores.$save(cliente)" /></span>
			</form>

		  </div>
		</pane>

	  </tabs>
	</div>
	
  </body>
</html>

